body{
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 20px;
}
section{
    padding-left: 8%;
    margin: top 80px;
    
}
h1{
    font-size: 30px;
}
.flexible-container{

    display: flex;
    margin-top: 100px;
}
.top-container{
    border-left: 4px solid rgb(247, 76, 46);
    margin-top: 80px;
    
}
.tomato{
    color: tomato;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 75%;
}
.button{
    background-color: orange;
    padding: 13px;
    text-decoration: none;
    border-radius: 10px;
   
}
#h5-con{
    margin-top: 50px;
}
.mission-item{
    width: 35%;
    box-shadow: 10px;
    background-color: palegreen;
    padding: 2%;
    margin: 10px;
    border-radius: 10px;
}
.mission-item img{
    width: 60%;
}
.down-cointaner{
        text-align: center;
        margin-top: 150px;
        background-color: black;
        color: blanchedalmond;
        padding: 15px;
}


